<button (click)="addEntry()">Add Entry</button>
<button (click)="removeEntry()">Remove Entry</button>
<button (click)="alternate = !alternate">Toggle Alternate</button>
<button (click)="toggle = !toggle">Toggle Toggle</button>
<button (click)="color = !color">Toggle Color</button>
<button (click)="size = size + 10">Increase size</button>
<button (click)="size = size - 10">Decrease size</button>
<button (click)="toggleSide()">Toggle Side</button>

<mgl-timeline [toggle]="toggle" [alternate]="alternate" [focusOnOpen]="false" [side]="side">
  <mgl-timeline-entry *ngFor="let entry of entries; let i = index" (expand)="onExpand($event, i)">
    <mgl-timeline-entry-header>
      <div>{{entry.header}}</div>
    </mgl-timeline-entry-header>
    <mgl-timeline-entry-content>
      <div>{{entry.content}}</div>
      <div>{{entry.content}}</div>
      <div>{{entry.content}}</div>
    </mgl-timeline-entry-content>
    <mgl-timeline-entry-dot [class]="color ? 'primary' : 'accent'" [size]="size"></mgl-timeline-entry-dot>
    <mgl-timeline-entry-side>2017</mgl-timeline-entry-side>
  </mgl-timeline-entry>
</mgl-timeline>