@import '~@angular/material/theming';

:host {
    display: block;
    position: relative;
    margin-bottom: 50px;

    &.alternate {

        & .side {
            left: auto;
            right: 50%;
        }

    }

    & .mgl-timeline-entry-card {

         & .mgl-timeline-entry-card-header {
             position: relative;
         }
    }

    & .side {
        position: absolute;
        left: auto;
        right: 25%;
        width: 25%;
        text-align: center;
        top: 16px;
        font-size: 20px;
    }

}
