@import '~@angular/material/theming';

mgl-timeline-entry {
    display: block;
    position: relative;
    margin-bottom: 50px;
    width: calc(50% - 5px);

    &.alternate {
        margin-left: calc(50% + 5px);
    }

    &.mobile {
        width: calc(100% - 30px);
        margin-left: 30px;
    }

    & .mgl-timeline-entry-card {
        background-color: rgb(240, 240, 240);

         & .mgl-timeline-entry-card-header {
             position: relative;
             background-color: rgb(230, 230, 230);
         }
    }
}
